body{
    background-color: rgb(107, 55, 156);
    color: rgb(147, 81, 223);
    margin: 0px;
}

header{
    border-bottom: solid 2px #050263;
    padding: 20px;
    font-size: 32px;
    color: hsl(242, 57%, 63%);
}
section{
    blackground-color: hsl(240, 94%, 37%)
    padding-top: 80px;
    padding-top: 80px;
}