body{
    background-color: hsl(234, 68%, 67%);
    color: hsl(251, 77%, 32%);
    margin: 0px;
}

header{
    border-bottom: solid 2px hsl(0, 0%, 0%);
    padding: 20px;
    font-size: 32px;
    color: rgb(33, 31, 121);
}
section{
    blackground-color: hsl(240, 94%, 37%)
    padding-top: 80px;
    padding-top: 80px;
}