body{
    background-color: hwb(236 34% 59%);
    color: hwb(251 5% 55%);
    margin: 0px;
}

header{
    border-bottom: solid 2px hsl(0, 0%, 0%);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}
section{
    background-color: hwb(240 38% 37%);
    padding-top: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}